In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
source = requests.get('https://www.rottentomatoes.com/top/bestofrt/')

In [3]:
source

In [4]:
# source.text

In [5]:
soup = BeautifulSoup(source.text, 'html.parser')

In [6]:
# soup

In [7]:
movies = soup.find('table', class_="table").find_all('a')

In [8]:
# print(movies)

In [9]:
movie_list = []
year_list = []
for movie in movies:
    name = " ".join(movie.text.strip().split(" ")[:-1])
    year = movie.text.strip().split(" ")[-1].strip('()')
    movie_list.append(name)
    year_list.append(year)
#     print(name)

In [10]:
ranks = soup.find('table', class_="table").find_all('td', class_="bold")

In [11]:
rank_list = []
for rank in ranks:
    place = rank.get_text().split('.')[0]
    rank_list.append(place)
#     print(place)

In [12]:
tmeter = soup.find('table', class_="table").find_all('span', class_="tMeterScore")

In [13]:
tomato_meter_list = []
for t in tmeter:
    score = t.text
    tomato_meter_list.append(score)
#     print(score)

In [14]:
reviews = soup.find('table', class_="table").find_all('td', class_="right hidden-xs")

In [15]:
num_of_reviews = []
for r in reviews:
    num_reviews = r.text
    num_of_reviews.append(num_reviews)
#     print(num_reviews)

In [16]:
data = pd.DataFrame(list(zip(rank_list, tomato_meter_list, movie_list, year_list, num_of_reviews)),
                    columns=["Rank", "Rating", "Movie", "Year", "Num of Reviews"])

In [18]:
data.head()

  Rank Rating                  Movie  Year Num of Reviews
0    1    99%  It Happened One Night  1934             98
1    2    99%           Citizen Kane  1941            121
2    3    98%       The Wizard of Oz  1939            160
3    4    98%           Modern Times  1936            109
4    5    96%          Black Panther  2018            525

In [23]:
data.to_csv("Rotton Tomatoes Top 10 Movies of all time.csv", index=False)

In [24]:
data.to_excel("Rotton Tomatoes Top 10 Movies of all time.xlsx", index=False)